<div class="auto-indent">
  <!--<h3 id="combing">Combing</h3>-->
  <!--<div>Eine Option in Cura um <a></a></div>-->
  <h3 id="filament">Filament</h3>
  <div>Bezeichnung für das Plastik, das für den Druck benutzt wird.</div>
  <h3 id="modell">Modell</h3>
  <div>Auf dieser Webseite beschreibt dieser Begriff ein digitales 3D-Modell.</div>
  <h3 id="objekt">Objekt</h3>
  <div>Auf dieser Webseite beschreibt dieser Begriff ein ausgedrucktes <a href="#/guide/begriffe#modell">Modell</a>.</div>
  <h3 id="slicing">Slicing</h3>
  <div>Zerschneiden des Objektes in Schichten die druckbar sind.</div>
  <h3 id="stl">STL-Format</h3>
  <div>"Surface Tesselation Language" - Ein gebräuchliches Dateiformat für 3D-Modelle.</div>
  <h3 id="support">Support</h3>
  <div>Stützstruktur die fragile Teile oder Überhänge eines Objektes beim Druck abstützt.</div>
  <h3 id="g-code">G Code</h3>
  <div>Instruktionscodes für die Steuerung des Druckers beim Druck.</div>
</div>