<div class="auto-indent">
	<h2>Blender</h2>
	Blender ist ein Open Source Programm, das eine Vielzahl von Computergrafik-Anwendungen bietet. 
	Diese reichen von der Erstellung von Objekten bis hin zum Filmschnitt. 
	Die CAD-Funktionen zielen vor allem auf die Animation einzelner Objekte ab. 
	Zum Beispiel kann die Beweglichkeit von animierten Fingern mit Regeln definiert werden. 
	Das Objekt-Design erfolgt, indem Grundkörper manipuliert und anschließend zu einem Objekt vereinigt werden. 
	<img class="text-image" src="res/blender/cylinder_all.PNG" style="width:50%">
	
	<h3>Geometrische Grundkörper</h3>
	In Blender existieren bereits einige geometrische Grundkörper wie beispielsweise Würfel, Kugeln oder Zylinder. 
		<img class="text-image" src="res/blender/primitives.PNG" style="width:25%">
	Diese können über den Reiter "create" ausgewählt werden und werden dann im Fenster "User Persp" hinzugefügt. 

	<img class="text-image" src="res/blender/cylinder.PNG" style="width:25%">
	Beim Einfügen öffnet sich ein Menü, in dem die Maße und Position des jeweiligen Körpers eingestellt werden können.

	<h3>Operationen</h3>
	<h4>Verformen</h4>
	<h4>Verschieben</h4>
	<ul>
        <li>In allen drei Raumrichtung</a></li>
		Wenn ein Objekt mit der Maus angeklickt wird, kann es mit der Maus in allen drei Raumrichtungen auf einmal verschoben werden. 
		Diese Art, ein Objekt zu verschieben, ist wenig intuitiv und es ist oft schwer, das Objekt an die gewünschte Position zu bewegen.
		<li>In einer Ebene</a></li>
		Wenn die Shift-Taste gedrückt ist, während mit der Maus eine der Achsen des Koordinatensystems angeklickt wird, lässt sich das Objekt innerhalb einer Ebene bewegen.
		Entlang der Raumrichtung der ausgewählten Achse lässt sich das Objekt nicht verschieben.
		<img class="text-image" src="res/blender/cyl_axes.PNG" style="width:25%">
        <li>Entlang einer Geraden</a></li>
		Indem einer der Pfeile, die die Achsen des Koordinatensystems repräsentieren, mit der Maus angeklickt wird, lässt sich das Objekt entlang dieser Gerade bewegen.
		
      </ul>
	
	<h4>Zerschneiden</h4>
	<h4>Punkte bearbeiten/ergänzen</h4>
	
	<h3>Körper zu einer Gruppe vereinigen</h3>
	<h3>STL Export</h3>

</div>