<div class="auto-indent">
  <h2>Cura</h2>
  <p>
  <a href="https://software.ultimaker.com/">Cura</a> ist die Standardsoftware, die für die Steuerung des Druckers mitgeliefert wird.
  Mit Cura kann man die Firmware des Druckers updaten, Objekte zur Vorbereitung auf den Druck manipulieren und letztendlich den, für den Druck benötigten, <a href="#/guide/begriffe#g-code">G Code</a> generieren lassen.<br>
  </p>

  <h4>Interface</h4>
  <div>
    Das grafische Interface hat auf der linken Seite eine Leiste für Einstellungen und auf der rechten eine Darstellung des Druckraumes und der Objekte die gedruckt werden sollen.
    Die Einstellungen können erweitert werden über den Menüpunkt: Expert -> Switch to full settings und enthaltenen dann die <a href="#/guide/druckparameter">hier</a> beschriebenen Einstellungsmöglichkeiten.<br>
  </div>

  <h4>Druckraum</h4>
  <div>
    Der Druckraum besitzt links oben drei Buttons um Objekte zu laden, G Code zu speichern und Objekte auf Youmagine.it hochzuladen.
    Die Ansicht lässt sich per Scrollrad (Zoom) und Mausbewegungen bei gedrückter rechter Maustaste (Blick in den Raum) verändern.

    An der rechten oberen Ecke kann man über den Button die Ansicht der Objekte auf der virtuellen Druckplattform verändern.
    Folgende Modi sind vorhanden:<br>
    <ul>
      <li>Normal</li>
      <li>Overhang (Hervorhebung von Überhängen)</li>
      <li>Transparent</li>
      <li>X-Ray</li>
      <li>Layers (Anzeige der Schichten und der Bewegungen des Druckers)</li>
    </ul>


    <img class="text-image" src="res/cura.png" width="100%">

    Besonders ist die Anzeige der Schichten im Layers Modus neben der normalen Anzeige zu empfehlen.
    Diese ermöglicht es zu kontrollieren ob alle Details des Objektes gedruckt werden und ob es ein Problem beim Fahrweg des Druckkopfs geben könnte.
    Dazu wird an der rechten Seiten ein Schiebebalken eingeblendet, mit dem man durch alle Schichten fahren kann.
    <br>
    Ist ein Objekt selektiert, erscheinen zusätzlich unten links drei Schaltflächen um das Objekt zu rotieren, skalieren oder zu spiegeln.
    Ein Rechtsklick auf das Objekt lässt ein Kontextmenü erscheinen mit dem man das Objekt zentrieren, löschen oder multiplizieren kann.
  </div>

  <h3>Manipulation von Objekten</h3>
  <div>
    Sobald das Objekt von der Datei geladen wurde erscheint es auf der virtuellen Druckplattform.
    Zum verschieben klickt man links mit der Maus auf das Objekt und bewegt die Maus in die gewünschte Richtung.<br>
    Um das Objekt zu drehen wählt man es aus und klickt auf das erste der drei unteren Symbole.
    Daraufhin erscheinen drei Kreise um das Objekt, jeder lässt sich in beide Richtungen ziehen um das Objekt um die gewählte Achse zu drehen.
    <br>
    Für die Skalierung wählt man das zweite Symbol und zieht an einem der erscheinenden Würfel um das Objekt in der entsprechenden Dimension zu skalieren.
    Standardmäßig vergrößert sich das Objekt in alle Richtungen gleichmäßig, so dass es seine Form nicht verändert.
    Falls dies nicht gewünscht ist, kann man nach einem Klick auf das Schloss im Popup, auch einzelne Dimensionen verändern.
    <br>
    Bei einem Klick auf das dritte Symbol erscheinen darüber drei weitere Schaltflächen um eine Spiegelung für jede Dimension zu ermöglichen.
  </div>
</div>