<div class="auto-indent">
  <h2>Behandlung von Fehlern</h2>

  <ul>
    <li><a href="#/guide/error#error-cura">Probleme mit Cura</a></li>
    <ul>
      <li><a href="#/guide/error#error-cura-freeze">Cura stockt/hängt</a></li>
      <li><a href="#/guide/error#error-cura-layerview">Cura zeigt einzelne Elemente des Objektes nicht in der Layers view</a></li>
      <li><a href="#/guide/error#error-cura-objects-proximity">Objekte lassen sich nicht nebeneinander platzieren</a></li>
    </ul>
    <li><a href="#/guide/error#error-printer">Fehler des Druckers</a></li>
    <ul>
      <li><a href="#/guide/error#error-printer-temp-sensor">ERROR - STOPPED Temp sensor</a></li>
      <li><a href="#/guide/error#error-printer-grinding">Filament steckt fest/Filament grinding</a></li>
    </ul>
    <li><a href="#/guide/error#error-object">Fehler am gedruckten Objekt</a></li>
    <ul>
      <li><a href="#/guide/error#error-object-no-details">Details werden nicht gedruckt</a></li>
      <li><a href="#/guide/error#error-object-hanging-threads">Herunterhängende Fäden</a></li>
      <li><a href="#/guide/error#error-object-combing">Dünne Fäden zwischen Teilen des Objektes</a></li>
      <li><a href="#/guide/error#error-object-rough">Unebene Oberfläche</a></li>
      <li><a href="#/guide/error#error-object-skewed">Objekt schief / Objekt unterschiedlich hoch</a></li>
      <li><a href="#/guide/error#error-other">Sonstige Fehler</a></li>
    </ul>
  </ul>
  <hr>

  <h3 id="error-cura">Probleme mit Cura</h3>
  <div>
    <h4 id="error-cura-freeze">Cura stockt/hängt</h4>
    <div>
      Wenn eine fordernde Berechnung (z.B. G-Code Erstellung für ein großes Objekt) ausgeführt wird, kommt oft auch die Oberfläche von Cura ins Stocken.
      Da Cura in Python geschrieben ist, können fordernde Operationen auch bei schnellen Computern etwas Zeit in Anspruch nehmen.
    </div>
    <h4 id="error-cura-layerview">Cura zeigt einzelne Elemente des Objektes nicht im Layers View</h4>
    <div>
      Die Elemente sind zu klein (kleiner als die Schichtdicke) um gedruckt werden zu können, das slicing Tool hat sich daher entschieden diese zu entfernen.
      <h5>Behebung</h5>
      Skalierung des Objektes in Cura (nicht immer erfolgreich) oder größeres Exportieren durch die Erstellungssoftware (CAD Programm, Blender...).
    </div>
    <h4 id="error-cura-objects-proximity">Objekte lassen sich nicht nebeneinander platzieren</h4>
    <div>
      Cura lässt einen gewissen Raum zwischen den Objekten frei, um zu vermeiden, dass der Druckkopf andere Objekte beim Druck beschädigt.
      Der Boden um die Objekte hat einen dunklen Rahmen um das Objekt, dieser Rahmen zeigt diesen Sicherheitsbereich an.
      <h5>Behebung</h5>
      Position der Objekte so wählen, dass sich diese Sicherheitsbereiche nicht überschneiden.
    </div>
	
	<h4 id="error-cura-parameter">Ungeeignete Parameter in Cura gewählt</h4>
    <div>
       Ungeeignete oder falsche Parametereinstellungen können dazu führen, dass ein Druck misslingt. 
      <h5>Supportstrukturen</h5>
      Bei Objekten, die starke Überhänge haben oder keine glatte Standfläche bieten, mit der sie auf der Druckplatte platziert werden können, sind Supportstrukturen nötig. 
	Ungeeignete Supportstrukturen sind zu fest mit dem Objekt verwachsen und lassen sich nicht mehr rückstandsfrei davon trennen. 
	<h5>Geschwindigkeit</h5>
	Wenn die Geschwindigkeit zu hoch eingestellt ist, kann es passieren, dass der Feeder nicht genug Material fördern kann. 
	Zudem kann es sein, dass das Material nicht genügend Zeit hat, um sich mit den unteren Schichten zu verbinden. 
	Dadurch kann die Stabilität des Objekts leiden. Insbesondere bei kreisförmigen Strecken kann der Druck zudem unsauber werden.
	<h5>Wanddicke</h5>
	Allgemein kann der Drucker lediglich Wände drucken, die mindestens so breit sind wie die Größe der Düse. 
	Aber auch druckbare dünne Wände, deren Breite nicht deutlich größer als der Düsendurchmesser ist, können zu Problemen führen.
	<h5>Temperatur</h5>
	Die Höhe der Temperatur hängt unter anderem vom Material des Filaments ab. Idealerweise ist die Temperatur so gewählt, dass das Filament gut fließen kann, ohne dabei zu verbrennen.
	Ist die Temperatur zu niedrig eingestellt, fließt das Material nicht gut. Zudem verbindet es sich dann schlechter mit dem bereits gedruckten Filament. 
	Bei zu niedrigen Temperaturen verschmelzen die einzelnen Schichten nicht gut miteinander und dem gedruckten Objekt sind die einzelnen Schichten deutlich anzusehen.
	Bei zu hoher Temperatur kann es passieren, dass das Filament verbrennt und Rückstände in der Düse bildet, was insbesondere bei Verwendung des Materials ABS auftreten kann.
    </div>
	
  </div>

  <h3 id="error-printer">Fehler des Druckers</h3>
  <div>
    <h4 id="error-printer-temp-sensor">ERROR - STOPPED Temp sensor</h4>
    <div>
      Dieser Fehler tritt durch eine falsche Messung des Temperatursensors am Druckkopf auf.
      Erfahrungsgemäß tritt der Fehler nur beim Aufwärmen oder Abkühlen des Druckkopfes auf.
	  
	  <img class="text-image" src="res/fehler/tempsens.jpg" width="25%">
	  
      Falls der Fehler beim Aufwärmen auftritt:
      <ul>
        <li>Drucker mit dem Schalter an der Rückseite abschalten</li>
        <li>Ca. 1 Minute warten, bis der Druckkopf etwas abgekühlt ist und alle Fehlerdaten gelöscht sind</li>
        <li>Den Drucker wieder anschalten und den Druck erneut starten</li>
      </ul>
      Falls der Fehler beim Abkühlen nach dem Druckvorgang auftritt, kann der Fehler ignoriert und der Drucker ausgeschaltet werden.
	  
	  Wenn die Meldung oft hintereinander auftritt, kann es sein, dass der Temperatursensor tatsächlich kaputt ist und ausgetauscht werden muss. 
	  Der Austausch ist relativ aufwändig. Zunächst muss der gesamte Druckkopf demontiert werden, um an den Heizblock zu gelangen. 
	  Die Kapsel mit dem Temperatursensor muss vorsichtig aus dem Heizblock gezogen werden. Da der Sensor direkt mit dem Steuergerät am Boden des Ultimakers verbunden ist, 
	  müssen der defekte Sensor und der Ersatz durch die Kabelführungen bis zur Unterseite geführt werden. Dort muss der neue Sensor angeschlossen werden.
    </div>

    <h4 id="error-printer-grinding">Filament steckt fest/Filament grinding</h4>
    <div>
      Das Filament wird durch den Feeder zum Druckkopf transportiert. Da der Feeder dafür eine Walze benutzt die sich stark in das Filament drückt kann es passieren, dass eine Kuhle aus dem Filament herausgefräst wird. Der Feeder schafft es dann nicht mehr das Filament zu transportieren und der Druck misslingt.
      <h5>Behebung</h5>
      Das Filament sollte aus dem Drucker entfernt werden und der Drucker gereinigt. Im <a href="#/guide/usage">Maintenance Menü</a> den Materialwechsel aktivieren und mit etwas manueller Mithilfe das Filament aus dem Drucker entfernen.
      Danach das Filament per Zange kurz vor der gegrindeten Stelle abknipsen und Filament und Drucker von kleinen Plastiksplittern befreien. Das unversehrte Filament kann dann wieder in den Drucker eingeführt werden.
      Siehe <a href="#/guide/druckparameter#parameter-retraction"> Retraction</a>
    </div>
	
	<h4 id="error-printer-ptfe">Verschleiß der PTFE-Kopplung</h4>
	<div>
	Die PTFE-Kopplung in der Düse des Ultimakers wird bei jedem Druck erhitzt. Das Material der Kopplung erweicht dabei und eine Verformung ist leicht möglich.
	<img class="text-image" src="res/fehler/ptfe.jpg" width="25%">
	Dadurch kann das Filament nicht mehr ungehindert durch die Kopplung in die Düse gelangen und die erhöhte Reibung kann zur Filament-Unterförderung führen. 
	Deshalb sollte die PTFE-Kopplung regelmäßig begutachtet und bei Defekten ausgetauscht werden.
	</div>
	
	<h4 id="error-printer-reibungBowden">Reibung im Bowdenzug</h4>
	<div>
	Wenn die Reibung im Bowdenzug zu stark ist, kann es passieren, dass das Filament vom Feeder nicht gut gefördert werden kann, da dieser zu viel Kraft aufbringen muss. 
	Dadurch gelangt zu wenig Filament zum Druckkopf.
	Die Höhe des Widerstands hängt unter anderem davon ab, an welcher Position auf der Glasplatte das Objekt gedruckt wird. 
	Dadurch kann es sein, dass ein Objekt an manchen Positionen besser gelingt.
	</div>
	
	<h4 id="error-printer-heizplattes">Gebogene Heizplatte</h4>
	<div>
	Die Glasplatte, auf der die Objekte gedruckt werden, ist herstellungsbedingt nicht perfekt gerade und liegt dadurch nicht perfekt auf der metallenen Heizplatte auf. 
	Auffällig ist, dass eine Seite der Glasplatte besser aufliegt als die andere. 
	Wird die Glasplatte mit der schlechter aufliegenden Seite auf die Metallplatte gelegt, wird sie durch den mangelnden Kontakt zur Metallplatte stellenweise deutlich schlechter erhitzt. 
	Dadurch haftet das Objekt an diesen Stellen nicht an der Glasplatte.
	</div>
	
	<h4 id="error-printer-heizblock">Heizblock von Material verklebt und Austausch des Heizblocks</h4>
	<div>
	Wenn die Düse außen verschmutzt oder beschädigt ist, kann es in extremen Fällen dazu kommen, dass sich eine dicke Schicht aus Filament um den Heizblock bildet.
	Als Folge fließt das Filament um Heizblock und Düse und kann sogar in den Raum oberhalb der Düse gelangen. 
	<img class="text-image" src="res/fehler/verklebt.jpg" width="50%">

	Dadurch, dass eine dicke Schicht aus Kunststoff den Heizblock umgibt, wird bei folgenden Drucken Energie verschwendet, um diese Schicht zu erwärmen. 
	Dadurch kann das Filament an sich nicht mehr genug erhitzt werden, um gut damit drucken zu können. Es ist nahezu unmöglich, die komplette Schicht wieder zu entfernen. 

	Das Austauschen des Heizblockes ist nur schwer möglich, da das Filament auch in die Spalte zwischen Heizblock, Temperatursensor und der Heizkapsel geflossen ist. 
	Die Entfernung war nur nach Erhitzen des Heizblockes möglich.
	<img class="text-image" src="res/fehler/heizblock.jpg" width="50%">
	</div>
  </div>

  <h3 id="error-object">Fehler am gedruckten Objekt</h3>
  <div>
    <h4 id="error-object-no-details">Details werden nicht gedruckt</h4>
    <div>
      Siehe <a href="#/guide/error#error-cura-layerview">hier.</a>
    </div>

    <h4 id="error-object-hanging-threads">Herunterhängende Fäden</h4>
    <div>
      An steilen Überhängen ist die Oberfläche nicht geschlossen, sondern einzelne Plastikfäden hängen herunter.
      <h5>Behebung</h5>
      Ganz vermeiden lässt sich der Effekt nicht, er kann jedoch durch folgende Einstellungen minimiert werden:
      <ul>
        <li>Heruntersetzen der <a href="#/guide/druckparameter#parameter-schichtdicke">Schichtdicke</a></li>
        <li>Erhöhung der <a href="#/guide/druckparameter#parameter-cool">Lüftergeschwindigkeit</a></li>
        <li>Veringern der Drucktemperatur</li>
        <li>Veringern der <a href="#/guide/druckparameter#parameter-speed">Druckgeschwindigkeit</a></li>
      </ul>
      <br>
      Siehe auch <a href="#/guide/supports">Supports</a>
    </div>

    <h4 id="error-object-holes">Löcher in den Wänden des Objektes</h4>
    <div>
      Die einzelnen Schichten des Objektes sind nicht vollständig miteinander verbunden, oder innerhalb der Schichten treten Löcher auf.
      <h5>Behebung</h5>
      <ul>
        <li>Verringern der <a href="#/guide/druckparameter#parameter-speed">Druckgeschwindigkeit</a></li>
        <li>Veringern der <a href="#/guide/druckparameter#parameter-schichtdicke">Schichtdicke</a></li>
      </ul>
    </div>
	
	<h4 id="error-object-haftung">Mangelnde Haftung des Objektes auf der Druckplatte </h4>
    <div>
     Manchmal haftet die untere Schicht nicht richtig auf der Druckplatte. 
	 Das kann einerseits dazu führen, dass der Druck komplett misslingt, da der Druckkopf die nicht haftenden Fäden hinter sich herzieht. 
	 Andererseits kann es sein, dass das Objekt zwar gedruckt wird, sich die Schichten aber mit zunehmender Höhe gegeneinander verschieben. 
	 Dieser Fehler tritt wegen mangelnder Haftung der untersten Filamentschicht auf der Druckplatte auf.
	 Als Gegenmanahme kann die gläserne Druckplatte mit einer dünnen Schicht Klebstoff bestrichen werden. Dadurch haftet die erste Filamentschicht wieder besser. 
	 Zudem bietet Ultimaker mittlerweile eine Druckplatte an, die speziell beschichtet ist und dadurch eine bessere Haftung ermöglichen soll.
    </div>
	
	<h4 id="error-object-unterfoerderung">Filament-Unterförderung </h4>
    <div>
    Ein Grund, warum der Druck von Objekten misslingen kann, ist ein zu geringer Filamentfluss. 
	Dadurch, dass zu wenig Filament zur Verfügung steht, werden die gedruckten Linien zu düunn oder können gar nicht gedruckt werden. 
	Es kann verschiedene Gründe dafür geben, dass zu wenig Material fließt. Einerseits kann eine Fehlfunktion des Feeders vorliegen, oder die Reibung im Bowdenzug ist zu hoch. 
	Möglicherweise ist die Reibung auch wegen einer Verformung der PTFE-Kopplung erhöht oder in der Düse befinden sich noch Verschmutzungen.
	Eventuell tritt der Fehler auch wegen schlecht gewählten Druckparametern auf, z.B. zu geringe Temperatur oder zu hohe Druckgeschwindigkeit.
    </div>
	
	<h4 id="error-object-duese">Verschmutzte Düse </h4>
    <div>
   Sowohl innerhalb als auch außerhalb der Düse können Filamentrückstände von früheren Drucken verbleiben. 
   Diese Rückstände behindern den Materialfluss durch die Düse. Als Gegenmaßnahme kann man mit einer dünnen Nadel die aufgeheizte Düse von innen haftendem Material befreien.
    </div>

    <h4 id="error-object-combing">Dünne Fäden zwischen Teilen des Objektes (Stringing)</h4>
    <div>
      Verschiedene Teile des Objektes sind durch dünne unregelmäßige Fäden verbunden
      <h5>Behebung</h5>
      <ul>
        <li>Entfernen der Fäden mit Sandpapier oder Schere</li>
        <li>Erhöhen der <a href="#/guide/druckparameter#parameter-retraction">Filament Retraction</a></li>
        <li>Verringern der <a href="#/guide/druckparameter#parameter-speed">Druckgeschwindigkeit</a></li>
      </ul>
    </div>

    <h4 id="error-object-rough">Unebene Oberfläche</h4>
    <div>
      Die Oberfläche des Objektes ist rau und klare Stufen sind zu erkennen.
      <h5>Behebung</h5>
      <ul>
        <li>Heruntersetzen der <a href="#/guide/druckparameter#parameter-schichtdicke">Schichtdicke</a></li>
      </ul>
    </div>

    <h4 id="error-object-skewed">Objekt schief / Objekt unterschiedlich hoch</h4>
    <div>
      Objekt ist ungleichmäßig hoch bzw. schief.
      <h5>Behebung</h5>
      <ul>
        <li><a href="#/guide/usage#kalibrierung">Kalibrierung des Druckers</a></li>
      </ul>
    </div>

    <h4 id="error-other">Sonstige Fehler</h4>
    <div>
      Für Fehler die hier nicht beschrieben sind, siehe <a href="http://support.3dverkstan.se/article/23-a-visual-ultimaker-troubleshooting-guide">hier</a>.
    </div>
  </div>
</div>