<div class="auto-indent">
  <h2>Auswahl des Objektes</h2>
  Die wenigsten kennen sich gut genug mit 3D-Modellierungssoftware wie Blender aus um komplexe Modelle selbst zu erstellen. Zum Glück ist das auch nur selten nötig, denn im Internet lässt für fast jeden Zweck ein passendes Modell finden. Im folgenden werden einige gute Quellen für 3D-Modelle vorgestellt und erklärt worauf man bei der Auswahl achten sollte.

  <h3>Quellen für Modelle</h3>
  <div>
    <h4><a href="https://www.thingiverse.com/">Thingiverse</a></h4>
    <div>
      Diese Website wird vom 3D-Drucker Hersteller und DIY-Magazin "Make" betrieben. Die Seite verfügt über eine große und aktive Community und einen bereits riesigen Fundus an Objekten für alle Anwendungszwecke. Je nach Modell wird sogar Parametrisierung, also eine Konfigurierbarkeit, unterstützt. Dadurch kann man sich das Modell ganz nach den eigenen Wünschen anpassen.<br>
      Diese Seite wird für viele Zwecke die erste Anlaufstelle sein.
    </div>

    <h4><a href="https://www.youmagine.com/">YouMagine</a></h4>
    <div>
      Das Pendant zu Thingiverse des Ultimaker Herstellers. Die Community und Auswahl ist kleiner als bei Thingiverse, aber wer auf der Suche nach Ersatzteilen oder Verbeserungen für den Ultimaker ist, findet hier eine große Auswahl an Modellen.
    </div>

    <h4><a href="https://www.myminifactory.com/">My Mini Factory</a></h4>
    <div>
      My Mini Factory verfolgt einen anderen Ansatz als die weiter oben gennanten Seite. Hier werden alle Modelle von den Betreibern auf Fehler und Druckbarkeit geprüft. Die Modelle sind "garantiert" druckbar. Die Qualität der Modelle ist in der Regel sehr hoch und die Auswahl wächst stetig.
    </div>
  </div>

  <h3>Worauf man achten muss</h3>
  <div>
    3D-Drucken ist immer ein Trial-and-Error Prozess. Um gute Ergebnisse zu erzielen müssen verschiedene Einstellungen ausprobiert werden, bis man mit dem Ergebnis zufrieden ist. Grundsätzlich sollte man aber schon bei der Auswahl des Objektes auf folgende Punkt achten:
    <ul>
      <li>
        <b>Größe des Objektes</b><br>
        Der Ultimaker II unterstützt nur Objekte bis zu einer Größe von 223mm x 223mm x 205mm. Größere Objekte müssen in mehreren Teilen gedruckt werden. Zusätzlich steigt mit zunehmender Größe das Risiko, das Probleme während des Drucks auftreten.
      </li>
      <li>
        <b>Überhänge</b><br>
        Starke Überhänge am Objekt erfordern <a href="#/guide/supports">Stützstrukturen</a>, die mehr Material und Druckzeit brauchen. Außerdem können Überhänge auch mit aufwendigen Stützstrukturen nie perfekt werden. Häufig muss man sich mit einer unebenen Oberfläche zufrieden geben, oder das Modell nachbearbeiten.
      </li>
      <li>
        <b>Fehlerfreiheit des Objektes</b><br>
        In den meisten Fällen kann man davon ausgehen das das 3D-Modell fehlerfrei erstellt wurde, dennoch empfiehlt es sich das Modell vor dem Druck zum Beispiel mit <a href="#/guide/meshmixer#error-analysis">MeshMixer</a> auf Fehler zu untersuchen.
      </li>
    </ul>
  </div>
</div>