<h2>Willkommen zum DHBW Ultimaker II Knowledge Portal</h2>
<div class="grid-row row">
  <div class="grid-cell col-md-12">
    <a href="#/guide/stepbystep" class="grid-tile" style="background-image: url('res/robot.jpg')">
      Schritt für Schritt Anleitung
    </a>
  </div>
</div>
<div class="grid-row row">
  <div class="grid-cell col-md-4">
    <a href="#/guide/error" class="grid-tile" style="background-image: url('res/bridge-test.png')">
      Fehler beheben
    </a>
  </div>
  <div class="grid-cell col-md-4">
      <a href="#/guide/speedvsquality" class="grid-tile" style="background-image: url('res/angle-test/angle-test-large-ultra-bot.jpg')">
        Qualität vs. Druckzeit
      </a>
  </div>
  <div class="grid-cell col-md-4">
    <a href="#/guide/selection" class="grid-tile" style="background-image: url('res/bunny.png')">
      Auswahl des Objektes
    </a>
  </div>
</div>
<div class="grid-row row">
  <div class="grid-cell col-md-4">
    <a href="#/guide/begriffe" class="grid-tile" style="background-image: url('res/extruder.png')">
      Häufige Begriffe
    </a>
  </div>
  <div class="grid-cell col-md-4">
    <a href="#/guide/usage" class="grid-tile" style="background-image: url('res/ultimaker-display.jpg')">
      Bedienung des Druckers
    </a>
  </div>
  <div class="grid-cell col-md-4">
    <a href="#/guide/kinect" class="grid-tile" style="background-image: url('res/bust.png')">
      Scannen mit Kinect
    </a>
  </div>
</div>
<div class="grid-row row">
  <div class="grid-cell col-md-6">
    <a href="#/guide/supports" class="grid-tile" style="background-image: url('res/meshmixer/supporttool.png')">
      Supports
    </a>
  </div>
  <div class="grid-cell col-md-6">
    <a href="#/guide/druckparameter" class="grid-tile" style="background-image: url('res/gear-bearing.png')">
      Druckparameter
    </a>
  </div>
</div>
<div class="grid-row row">
	<div class="grid-cell col-md-3">
    <a href="#/guide/cura" class="grid-tile" style="background-image: url('res/cura.png')">
      Cura
    </a>
  </div>
  <div class="grid-cell col-md-3">
    <a href="#/guide/meshmixer" class="grid-tile" style="background-image: url('res/meshmixer/strengthtool.png')">
      MeshMixer
    </a>
  </div>
  <div class="grid-cell col-md-3">
    <a href="#/guide/SolidEdge" class="grid-tile" style="background-image: url('res/techObj/entwurf/FPBox.JPG')">
      SolidEdge
    </a>
  </div>
  <div class="grid-cell col-md-3">
    <a href="#/guide/Blender" class="grid-tile" style="background-image: url('res/blender/blender.png')">
      Blender
    </a>
  </div>
</div>
<div class="grid-row row">
  <div class="grid-cell col-md-6">
    <a href="#/guide/techObj" class="grid-tile" style="background-image: url('res/techObj/gesamt.jpg')">
      Entwurf technisches Objekt
    </a>
  </div>
  <div class="grid-cell col-md-6">
    <a href="#/guide/orgObj" class="grid-tile" style="background-image: url('res/orgObj/liegend.jpg')">
      Entwurf organisches Objekt
    </a>
  </div>
</div>
